body {
    margin: 0;
    background-color: #FFA7E0;
    font-family: 'Almendra', serif;
    width: 100%;
}

header {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    color: #FF89D5;
    text-align: center;
}

main {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFA7E0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


img {
    margin-top: 1rem;
    width: 100%;
}

#playername {
    border: none;
    border-radius: 3.125rem;
    height: 2rem;
    font-family: 'Almendra', serif;
    font-size: 1rem;
    margin-right: 0.5rem;
    padding-left: 0.4rem;
}

.startbuttons {
    border: none;
    border-radius: 3.125rem;
    height: 2rem;
    width: 4rem;
    background-color: #FF89D5;
    color: #fff;
    font-family: 'Almendra', serif;
    font-size: 1rem;
}

.startbuttons:hover {
    background-color: #f27dc9;
}

#startbutton {
    margin-top: 2rem;
    height: 4rem;
    width: 8rem;
    font-size: 2rem;
}

.inputandbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.optionbuttons {
    border: none;
    border-radius: 3.125rem;
    height: 2rem;
    width: 10rem;
    background-color: #FF89D5;
    color: #fff;
    font-family: 'Almendra', serif;
    font-size: 1rem;
    margin-right: 1rem;
}

.optionbuttons:hover {
    background-color: #f27dc9;
}

.textcontent {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

.buttoncontent {
    display: flex;
    flex-direction: row;
}

/* media queries */
@media (min-width: 48em) and (max-width: 63em) {
    h1 {
        font-size: 3rem;
    }
    main {
        width: 80%;
        font-size: 1.5rem;
    }

    .optionbuttons {
        font-size: 1.5rem;
        width: 18rem;
        height: 3rem;
    }
    .optionbuttons:hover {
        background-color: #FF89D5;
    }
}

@media (max-width: 48em) {
    h1 {
        font-size: 2rem;
    }
    main {
        width: 90%;
        font-size: 1rem;
    }

    .optionbuttons {
        font-size: 0.9rem;
        width: 8rem;
        height: 3rem;
    }
    .buttoncontent {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .optionbuttons:hover {
        background-color: #FF89D5;
    }
}